{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!-- to force btn-warning class on prod -->
        <a class="btn-warning" role="button" style="display:none"></a>
        <a class="btn btn-primary btn-lg px-4 mb-2" id="deploy" target="_blank" role="button">Deploy Dseqr</a>
        <div class="progress" id="deploy-progress">
          <div class="progress-bar bg-primary" id="deploy-progress-bar" style="width:0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/hms-dbmi/dseqr">GitHub v{{ .Site.Data.doks.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Multi sample support</h2>
        <p>Runs <a href="https://osca.bioconductor.org/multi-sample-comparisons.html#differential-expression-between-conditions">pseudobulk</a> differential expression analyses. For each cluster, compare a set of test samples to a set of control samples.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Sensible defaults</h2>
        <p>Follows recommendations from the  <a href="http://bioconductor.org/books/release/OSCA/">OSCA</a> handbook so that you can focus on biological questions, not bioinformatics.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Multiple integration algos</h2>
        <p>Integrate samples with either <a href="http://bioconductor.org/books/release/OSCA/integrating-datasets.html">FastMNN</a> or <a href='https://github.com/immunogenomics/harmony'>harmony</a>.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Flexible QC</h2>
        <p>Start with default filtering or DIY (or both). Custom metrics and subsetting allow you to further refine your QC based on
          mitochondrial/ribosomal percent, library size, doublet score, or gene expression.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Automated labeling</h2>
        <p>Quickly transfer labels from previously annotated datasets or built-in references. Easily discover and fix annotation mistakes by comparing any two clusters.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Environmentally concious</h2>
        <p>Our servers shut down 24 hours after you hit deploy. Your analyses persist between shutdowns, not your footprint.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
