{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!-- to force btn-warning class on prod -->
      <div class="btn-warning" tyle="display:none"></div>
      <button class="btn btn-primary btn-lg px-4 mb-2" id="deploy">Deploy Dseqr</button>
      <div class="progress" id="deploy-progress">
        <div class="progress-bar bg-primary" id="deploy-progress-bar" style="width:0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/hms-dbmi/dseqr" target="_blank">GitHub v{{ .Site.Data.doks.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>
<div id="deploy-info" class="alert alert-lead d-flex text-center" role="alert">
  <div class="w-100">💡 Deploy takes ~10 minutes and stays up for 48 hours.</br> Up-time resets with each open.</div>
</div>

<!-- video -->
<div class="demo-video">
  <div id = "demo-large-container"></div>
  <div id = "demo-small-container"></div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Multi sample support</h2>
        <p>Runs class-leading <a href="https://www.biorxiv.org/content/biorxiv/early/2019/07/26/713412.full.pdf" target="_blank">pseudobulk</a> differential expression analyses.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Sensible defaults</h2>
        <p>Follows recommendations from the  <a href="http://bioconductor.org/books/release/OSCA/" target="_blank">OSCA</a> handbook so that you can focus on biology, not bioinformatics.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Multiple integration algos</h2>
        <p>Integrate samples with <a href='https://github.com/immunogenomics/harmony' target="_blank">harmony</a>, <a href="http://bioconductor.org/books/3.14/OSCA.multisample/integrating-datasets.html" target="_blank">FastMNN</a>, or through reference-based analysis with <a href='https://azimuth.hubmapconsortium.org/' target="_blank">Seurat</a> or <a href='https://github.com/immunogenomics/symphony'>Symphony</a>.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Flexible QC</h2>
        <p>Start with automated filtering or DIY. Custom metrics and subsetting allow you to further refine your QC.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Automated labeling</h2>
        <p>Transfer labels from previously annotated datasets or reference atlases.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Free to use</h2>
        <p>To keep Dseqr free, our servers shut down 48 hours after the last time someone opens the app. Your analyses persist.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}



{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
