body.dark .progress-bar.bg-primary {
    color: $body-bg-dark !important;
}

.demo-video video {
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-top: 20px;
}

#demo-large-container {
    display: none;
}

#demo-small-container {
    display: block;
}


@media (min-width: 1548px) {
    #demo-large-container {
        display: block;
    }
    #demo-small-container {
        display: none;
    }
}

@media (max-width: 830px) {
    #demo-small-container {
        display: none;
    }
}


video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}
