body.dark .progress-bar.bg-primary {
    color: $body-bg-dark !important;
}

.landing-video video {
    display: block;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-top: 20px;
}


@media (max-width: 1548px) {
    .landing-video video {
        display:none !important;
    }
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}
